.carrito{
    background-color: #f6f7f9;
    margin: 8rem 0;
    padding: 1.5rem;
}

.carrito-content{
    display: flex;
    align-items: center;
    padding: 0.7rem 0;
}

.carrito img{
    width: 15%;
}

.botonera{
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    
}

.botonera h5{
    margin: 0 0.3rem;
}

.pizza-carrito{
    display: flex;
    align-items: center;
}

.pizza-carrito h3{
    margin: 0 0 0 0.5rem;
}

