header{
    background-image: url(/src/assets/img/header-bkg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 60vh;
    text-align: center;
    color: #fff;
    margin: 4rem 0 0 0;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mask h1{
    padding: 5rem 0 0 0;
}

.hr{
    width: 50%;
}

@media screen and (min-width: 992px) {
    header{
        margin: 5rem 0 0 0;
        height: 50vh;
    }

    .mask {
        height: 50vh; 
    }
    
}