nav{
    background-color: #1b91ac;
    color: #fff;
    padding: 0.5rem 0;
}

/* .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.link{
    color: #fff;
    text-decoration: none;
}

.total{
    font-size: 1.5em;
}


