nav{
    background-color: #1b91ac;
    color: #fff;
}

.navbar{
    padding: 1rem 0;
}

.navbar .container{
    display: flex;
    flex-direction: column;
}

/* .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.link{
    color: #fff;
    text-decoration: none;
}

.total{
    font-size: 1.3em;
}

@media screen and (min-width: 992px) {
    .navbar .container{
        display: flex;
        flex-direction: row;
    }

    .total{
        font-size: 1.5em;
    }
    
}


